GITHUB_TOKEN=<https://github.com/settings/tokens>
JIRA_BASE_URL=<https://example.atlassian.net>
JIRA_API_TOKEN=<https://id.atlassian.com/manage-profile/security/api-tokens>
JIRA_USERNAME=<https://id.atlassian.com/manage-profile/email>
